#root {
  margin: 0 auto;
  text-align: center;
}
.logo {
  width: 300px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
img{
  width: 550px;
}
.basic-informations{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.content-container{
  width: 150px;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
}
.name{
  margin-right: 50px;
}
.large{
  width: 400px;
}
.graduation-content{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}